@import "../settings/fonts.scss";
@import "../settings/colors.scss";

body {
    font-family: $font-base;

    // @media (max-width: 480px) {
    //     width: 33.333%;
    // }

    // @media (max-width: 800px) {
    //     width: 50%;
    // }
}

#root {
    display: flex;
    justify-content: center;
    margin: 1.5rem 8.875rem;
    flex-direction: column;
}