@import "../settings/fonts.scss";
@import "../settings/colors.scss";

body {
    font-family: $font-base;
    padding: 1.5rem 0;

    @media (max-width: 480px) {
        width: 33.333%;
    }

    @media (max-width: 800px) {
        width: 50%;
    }
}

