@import '../settings/colors';

.form-header{
    height: 829px;
    width: 100%;
    justify-content: space-between;
    // background: linear-gradient(0deg, rgba(227,226,221,1) 0%, rgba(227,226,221,0.16850490196078427) 0%, rgba(255,255,255,1) 100%) ;
    .form-header_image {
        background: transparent url('/assets/Form-Hero-Image.jpg') no-repeat;
        margin-left: -8.875rem;
        margin-top: -1.5rem;
    }

    .form-header_box{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 90px;
        margin-left: -280px;

        .form-header_steps__title{
            font-weight: lighter;
            font-size: 40px;
            line-height: 55px;
            margin: 19.2px 0;
        }

        .progress-bar{
            display: flex;
            margin-top: 30px;
            list-style: none;

            .progress-text_bold {
                font-weight: bold;
                border: 1px solid $color-yellow;
            }
        }
    }
}

.form-info-bar {
    height: 179px;
    margin: 0 -8.85rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: $color-yellow;
    padding: 30px 8.85rem;
    
    .form-info-bar_warning {
        color: black;
        font-size: 36px;
        line-height: 49px;
        font-weight: bolder;
    }

    .form-info-bar_description {
        font-size: 22px;
        line-height: 30px;
        margin: 0;
        max-width: 1226px;
    }
}

.form-steps-view {
    height: 883px;
    padding: 36px 8.85rem 50px;
    margin: 0 -8.85rem;
    background: transparent url('/assets/Background-Form.jpg') 0% 0% no-repeat padding-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .form-step {
        width: 950px;
        
        .form-step_progress {
            font-size: 24px;
            font-weight: lighter;
            line-height: 27px;
        }
    
        .form-step_title {
            color: black;
            font-size: 36px;
            font-weight: bolder;
            line-height: 45px;
            margin-top: 70px;
            margin-bottom: 40px;
        }
    }

    .form-steps_buttons{
        display: flex;
        gap: 50px;

        .form-step_button {
            width: 180px;
            height: 79px;
            font-size: 1.5rem;
            line-height: 2rem;
            color: #000000;
            font-weight: lighter;
            border: 0.046875rem solid $color-dark-gray;
            background: transparent;
            cursor: pointer;
        }
    }
}