@import '../settings/colors';

.header {
    height: 60.2rem;
    width: 100%;
    justify-content: space-between;

    .header-image {
        background: transparent url('/assets/Home-Hero-Image.jpg') no-repeat -30.2rem 0;
        margin-left: -8.85rem;
    }

    .header-column {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;

        .header-box {
            display: flex;
            flex-direction: column;
            padding-top: 13.125rem;
            width: 42.125rem;

            .header-box_buttons {
                display: flex;
                justify-content: center;
                gap: 2.75rem;
                margin-top: 5rem;

                .header-box__button {
                    width: 19rem;
                    height: 7.5rem;
                    text-align: center;
                    font-size: 2rem;
                    line-height: 2.8rem;
                    text-decoration: none;
                    color: $color-dark-gray;
                    font-weight: lighter;
                    border: 0.046875rem solid $color-dark-gray;
                    padding: 1rem 0;
                    word-spacing: 100vw;
                }
            }
        }
    }
}
