@import '../settings/colors';

.header {
    height: 60.2rem;
    width: 85.5rem;

    .header-image {
        background: transparent url('/assets/Home-Hero-Image.jpg') no-repeat -30.2rem 0;
        margin-left: -4.25rem;
    }

    .login-bar {
        display: flex;
        justify-content: flex-end;

        .login-button {
            width: 5.625rem;
            height: 2.25rem;
            text-align: center;
            font-size: 0.8125rem;
            line-height: 2rem;
            color: $color-light-gray;
            text-decoration: none;
            &:hover {
              border: 0.75px solid $color-yellow;  
            }
        }
    }
}
