@import "../settings/colors";

.about-us {
    height: 58.4375rem;
    margin: 0 -8.85rem;

    .about-us_column {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: $color-old-white;
        padding: 2.875rem 8.85rem;

        .about-us_description {
            text-align: center;
            font-size: 1.875rem;
            letter-spacing: -0.0375rem;
            line-height: 3.375rem;
            margin-top: 3.4375rem;
            margin-bottom: 2.5rem;
        }

        .about-us_signature {
            align-self: flex-end;
        }
    }
    .about-us_image {
        background: transparent url('/assets/People.jpg') no-repeat;
        margin-right: -8.875rem;
    }
}
